{% load thumbnail %}
{% load static %}

<div class="item" data-href="{% url 'details' pk=shop_item.pk %}">
    <div class="ui red tablet-small ribbon label">
        {{ shop_item.title }}
    </div>
    <div class="image">
        {% if shop_item.is_popular %}
            <div class="ui right red corner huge label moneo-corner-label" data-position="top center" data-content="Популярно!">
                <i class="fire icon"></i>
            </div>
        {% elif shop_item.is_new %}
            <div class="ui right purple corner huge label moneo-corner-label" data-position="top center" data-content="Новое!">
                <i class="flag icon"></i>
            </div>
        {% elif shop_item.is_on_sale %}
            <div class="ui right purple corner huge label moneo-corner-label" data-position="top center" data-content="Новое!">
                {{ shop_item.get_off_amount }}%
            </div>
        {% endif %}

        {% thumbnail shop_item.image "350x350" crop=shop_item.crop_options as thumb %}
            <img class="ui large rounded image" src="{{ thumb.url }}" alt=""/>
        {% endthumbnail %}
    </div>
    <div class="ui left bottom attached black label icon button">
        {{ shop_item.price }} руб
    </div>
    <form class="action-add-form" method="POST" action="{% url 'cart-add-action' %}">
        <button class="ui bottom right attached primary label icon hover down button action-add">
            В корзину
            <i class="cart icon"></i>
        </button>
        <input type="hidden" name="gid" value="{{ shop_item.id }}"/>
        {% csrf_token %}
    </form>
</div>