<div class="ui pagination small inverted menu">
    {# Previous button #}
    {% if shop_items.has_previous %}
        <a class="item" href="?page={{ shop_items.previous_page_number }}">&lt;</a>
    {% else %}
        <div class="item disabled">&lt;</div>
    {% endif %}

    {# Leading range + hellip #}
    {% if shop_items.leading_range %}
        {% for num in shop_items.leading_range %}
            <a class="item {% if shop_items.number == num %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
        {% endfor %}
        <div class="item">&hellip;</div>
    {% endif %}

    {# Pagination itself #}
    {% for num in shop_items.main_range %}
        <a class="item {% if shop_items.number == num %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
    {% endfor %}

    {# Trailing range + hellip #}
    {% if shop_items.trailing_range %}
        <div class="item">&hellip;</div>
        {% for num in shop_items.trailing_range %}
            <a class="item {% if shop_items.number == num %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
        {% endfor %}
    {% endif %}

    {# Next button #}
    {% if shop_items.has_next %}
        <a class="item" href="?page={{ shop_items.next_page_number }}">&gt;</a>
    {% else %}
        <div class="item disabled">&gt;</div>
    {% endif %}
</div>