{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block page_title %}NEXUS-GAMER.RU{% endblock %}
        </title>

        <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
        {% block extra_css %}{% endblock %}

    </head>
    <body>
        <div class="ui message black added-to-cart" style="font-size: 14px; position: fixed; width: 80%; left: 10%; z-index: 10000; display: none;">
            <p>Товар добавлен в корзину</p>
        </div>
        <div class="ui one column page grid">

            <div class="row header">
                <div class="column">
                    <a href="{% url 'home' %}" class="left">
                        <img class="ui image large" src="{% static 'img/logo.png' %}" alt=""/>
                    </a>
                    <div class="right">
                        <form class="ui form" action="/search/" style="display:inline-block;margin-right:20px;">
                            <div class="field">
                                <div class="ui icon small input">
                                    <input type="text" name="q" placeholder="Поиск">
                                    <i class="inverted search icon" style="height:102%;"></i>
                                </div>
                            </div>
                        </form>
                        <div class="ui vk icon small button">
                            <i class="vk icon"></i>
                        </div>
                        <div class="ui facebook icon small button">
                            <i class="facebook icon"></i>
                        </div>
                        <div class="ui twitter icon small button">
                            <i class="twitter icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    {% include 'partials/menu/top_bar.html' %}
                    {% include 'partials/menu/bottom_bar.html' %}

                </div>
            </div>
            <div class="row">
                <div class="column">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
            <div class="ui horizontal inverted divider">
                <i class="icon lab"></i>
            </div>
            <div class="row footer">
                <div class="column">

                    <span class="left">Nexus-Gamer 2013</span>
                    <span class="right">by WulfenByte</span>
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="{% static 'js/semantic.min.fix.js' %}"></script>
        {% block extra_js %}{% endblock %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </body>
</html>