{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} :: Оформление заказа{% endblock %}

{% block content %}
    <div class="ui three steps">
        <div class="ui{% if active_step == 1 %} active{% else %} disabled{% endif %} step">
            Оформление заказа
        </div>
        <div class="ui{% if active_step == 2 %} active{% else %} disabled{% endif %} step">
            Оплата
        </div>
        <div class="ui{% if active_step == 3 %} active{% else %} disabled{% endif %} step">
            Завершение
        </div>
    </div>

    <div class="ui segment stacked">
        <div class="ui form">
        <form class="action-submit-form" action="{% url 'cart-submit' %}">
            <div class="two fields">
                <div class="field">
                    {{ form.email.label_tag }}
                    <div class="ui left labeled icon input">
                        {{ form.email }}
                        <i class="mail icon"></i>
                    </div>
                    <div class="ui red pointing above ui label error" style="display: none;">Enter a first name</div>
                </div>
                <div class="field">
                    {{ form.email_c.label_tag }}
                    <div class="ui left labeled icon input">
                        {{ form.email_c }}
                        <i class="mail icon"></i>
                    </div>
                    <div class="ui red pointing above ui label error" style="display: none;">Enter a first name</div>
                </div>
            </div>
            <div class="two fields">
                <div class="field" style="padding-right: 1%;">
                    {{ form.captcha.label_tag }}
                    <div class="ui left labeled input captcha">
                        {{ form.captcha }}
                    </div>
                    <div class="ui red pointing above ui label error" style="display: none;">Enter a first name</div>
                </div>
            </div>
            <button class="ui button primary">Оформить заказ</button>
            {% csrf_token %}
        </form>
        </div>
    </div>
{% endblock %}