{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} :: Корзина{% endblock %}

{% block content %}
    <table class="ui table piled segment">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items %}
                <tr class="item">
                    <td>
                        <a target="_blank" href="{% url 'details' pk=item.id %}">{{ item.title }}</a>

                    </td>
                    <td>{{ item.price }} руб</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.sum }} руб</td>
                    <td>
                        <form class="action-remove-form" action="{% url 'cart-remove-action' %}">
                            <button class="ui mini icon down button red">
                                <i class="trash icon"></i>
                            </button>
                            <input type="hidden" name="gid" value="{{ item.id }}"/>
                            {% csrf_token %}
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center; padding: 30px 0; color: #888888;">
                        Корзина пуста
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Итого:</td>
                <td colspan="2" class="">
                    <span class="cart-sum">{{ cart.sum }}</span> руб
                </td>
            </tr>
        </tbody>
    </table>
    <button class="ui button submit {% if cart.sum == 0 %} disabled{% else %}primary down{% endif %}" data-href="{% url 'cart-submit' %}">
        Перейти к оформлению
    </button>
{% endblock %}