{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} :: Оплата заказа{% endblock %}

{% block content %}
    <div class="ui three steps">
        <div class="ui{% if active_step == 1 %} active{% else %} disabled{% endif %} step">
            Оформление заказа
        </div>
        <div class="ui{% if active_step == 2 %} active{% else %} disabled{% endif %} step">
            Оплата
        </div>
        <div class="ui{% if active_step == 3 %} active{% else %} disabled{% endif %} step">
            Завершение
        </div>
    </div>

    <div class="ui segment stacked">
        <h3>Оплата заказа</h3>
        <p>Ваш заказ #{{ order.id }} на сумму {{ order.total }} рублей</p>
        <p>После нажатия на кнопку "Оплатить" Вас перенаправит на страницу оплаты в системе ROBOKASSA</p>
        <p {# style="text-align: center;" #}>
            <a class="ui primary button" href="{{ robokassa }}">Оплатить</a>
        </p>
    </div>
{% endblock %}