{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} :: {{ category }}{% endblock %}

{% block content %}
    <div class="ui huge black label">
        {% if not subcategory %}{{ category.display_name }}{% else %}{{ subcategory.display_name }}{% endif %}
    </div>
    <div class="ui four items moneo-list">
        {% for shop_item in shop_items %}
            {% include 'partials/list_item.html' %}
        {% endfor %}
    </div>
    {% include 'partials/pagination.html' %}
{% endblock %}


