{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} :: {{ shop_item.title }}{% endblock %}

{% block content %}

    <div class="ui grid details">
        <div class="five wide column">
            <div class="ui stacked red segment">
                {% thumbnail shop_item.image '260x260' crop=shop_item.crop_options as thumb %}
                    <img class="ui rounded large image" src="{{ thumb.url }}" alt=""/>
                {% endthumbnail %}
                <div class="ui black bottom left attached huge label icon button">
                    {{ shop_item.price }} руб
                </div>
                <form class="action-add-form" method="POST" action="{% url 'cart-add-action' %}">
                    <button class="ui bottom right attached primary huge label icon button action-add">
                        В корзину
                        <i class="cart icon"></i>
                    </button>
                    <input type="hidden" name="gid" value="{{ shop_item.id }}"/>
                    {% csrf_token %}
                </form>
            </div>
            <div class="ui stacked segment">
                <div class="ui list">
                    {# Издатель #}
                    {% if shop_item.publisher %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    Издатель
                                </div>
                                {{ shop_item.publisher }}
                            </div>
                        </div>
                    {% endif %}
                    {# END #}

                    {# Издатель в РФ, если есть #}
                    {% if shop_item.publisher_ru %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    Издатель в России
                                </div>
                                {{ shop_item.publisher_ru }}
                            </div>
                        </div>
                    {% endif %}
                    {# END #}

                    {# Жанр #}
                    {% if shop_item.genre %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    Жанр
                                </div>
                                {{ shop_item.genre }}
                            </div>
                        </div>
                    {% endif %}
                    {# END #}
                    {% if not shop_item.has_metadata %}
                        <div class="item">
                            <div class="content">
                                <div class="header">
                                    Категория
                                </div>
                                {{ shop_item.category.display_name }}
                                {% if shop_item.category.is_subcategory %}
                                    {{ shop_item.category.parent }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui stacked red segment">
                <div class="ui huge black ribbon label">
                    {{ shop_item.title }}
                </div>
                {{ shop_item.description|safe }}
            </div>
            {% if shop_item.instructions %}
                <div class="ui stacked segment">
                    <div class="ui huge teal ribbon label">
                        Условия покупки, оплаты и получения товара <i class="ui icon info"></i>
                    </div>
                    {{ shop_item.instructions|safe }}
                </div>
            {% endif %}
            {% if shop_item.get_linked_items %}
                <div class="ui stacked segment">
                    <div class="ui huge purple ribbon label">
                        Похожие товары
                    </div>
                    <div class="ui three items moneo-list">
                        {% for shop_item in shop_item.get_linked_items|slice:"3" %}
                            {% include 'partials/list_item_linked.html' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}