{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} - FAQ{% endblock %}

{% block content %}
    <div class="ui wide accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Question 1
        </div>
        <div class="active content">
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Aut dolorem et iusto nam ullam.
                Animi enim exercitationem facilis iste iusto quae
                quo repudiandae saepe sequi voluptates!
                Deserunt eius minima natus.
            </p>
        </div>
        <!-- -->
        <div class="title">
            <i class="dropdown icon"></i>
            Question 2
        </div>
        <div class="content">
            <h4>Ответ</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Aut dolorem et iusto nam ullam.
                Animi enim exercitationem facilis iste iusto quae
                quo repudiandae saepe sequi voluptates!
                Deserunt eius minima natus.
            </p>
        </div>
    </div>
    {% comment %}
    <div class="content">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <strong>Вопрос:</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aut dolorem et iusto nam ullam.
                            Animi enim exercitationem facilis iste iusto quae
                            quo repudiandae saepe sequi voluptates!
                            Deserunt eius minima natus.
                        </p>
                    </div>
                    <div class="panel-footer">
                        <strong>Ответ:</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aut dolorem et iusto nam ullam.
                            Animi enim exercitationem facilis iste iusto quae
                            quo repudiandae saepe sequi voluptates!
                            Deserunt eius minima natus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
{% endblock %}