{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} - Отзывы{% endblock %}

{% block content %}
    <!-- Title -->
    <div class="ui huge black label">Отзывы</div>


    <div class="ui stacked segment">
        <!-- Feedback items block -->
        <div class="ui comments">
            {% for item in feedback_items %}
                <!-- Feedback item -->
                <div class="comment">
                    <a class="avatar">
                        <img src="{{ item.get_gravatar_url }}">
                    </a>
                    <div class="content">
                        <a class="author">{{ item.author }}</a>
                        <div class="metadata">
                            <span class="date" style="font-size:14px;color:#777777;">{{ item.added|date:"d E Y" }}</span>
                        </div>
                        <div class="text">
                            {{ item.message }}
                        </div>
                    </div>
                </div>
                <!-- END Feedback item -->
            {% endfor %}
        </div>
        <!-- END Feedback items block -->

        <!-- Divider -->
        <div class="ui horizontal divider">
            <i class="ui icon comment"></i>
        </div>
        <!-- END Divider -->

        <!-- Feedback form -->
        <form action="{% url 'feedback' %}" method="POST">
            <div class="ui form">
                {% for field in form %}
                    <div class="field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button class="ui primary button">Отправить</button>
            </div>
        </form>
        <!-- END Feedback form -->
    </div>
{% endblock %}