{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} - FAQ{% endblock %}

{% block content %}
    <div class="ui stacked segment">
        <div class="ui form">
            <form id="gold-trade-form" action="">
                <div class="field">
                    <label for="gold">Количество золота</label>
                    <input id="gold" type="text" maxlength="7"/>
                </div>
                <div class="field">
                    <label for="cost">Стоимость</label>
                    <input id="cost" type="text" maxlength="7"/>
                </div>
                <button type="submit">В корзину</button>
            </form>
            <div class="ui error message"></div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
        $('#gold').on('keyup', function() {
            $.ajax({
                url: '{% url "gold-trade" %}',
                type: 'GET',
                data: {
                    'amount': parseInt($(this).val()),
                    'type': 'gold'
                },
                beforeSend: function() {
                    $("#cost").addClass('loading');
                },
                success: function(response) {
                    $("#cost").val(response.value)
                }
            });
        });

{#        $('#cost').on('keyup', function() {#}
{#            $.ajax({#}
{#                url: '{% url "gold-trade" %}',#}
{#                type: 'GET',#}
{#                data: {#}
{#                    'amount': parseInt($(this).val()),#}
{#                    'type': 'cash'#}
{#                },#}
{#                beforeSend: function() {#}
{#                    $("#gold").addClass('loading');#}
{#                },#}
{#                success: function(response) {#}
{#                    $("#gold").val(response.value)#}
{#                }#}
{#            });#}
{#        });#}
    </script>
{% endblock %}