{% extends "base.html" %}

{% load thumbnail %}
{% load static %}

{% block page_title %}{{ block.super }} :: Главная{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery.cycle2.min.js' %}"></script>
{% endblock %}

{% block content %}
    {# Карусель спец-предложений #}
    <div class="ui carousel cycle-slideshow" data-cycle-slides="div.slide">
        {% for special_item in special_items %}
            <div class="slide">
                {% thumbnail special_item.image special_item.resize_options crop=special_item.crop_options as thumb %}
                    <div data-href="{% url 'details' pk=special_item.item.pk %}" class="ui image rounded special" style="background-image: url('{{ thumb.url }}');"></div>
                {% endthumbnail %}
                <div class="cycle-overlay">
                    {{ special_item.message }}
                </div>
            </div>
        {% endfor %}
        <div class="cycle-pager"></div>
        <div class="cycle-prev">
            <i class="left arrow icon"></i>
        </div>
        <div class="cycle-next">
            <i class="right arrow icon"></i>
        </div>
    </div>
    {# END #}

    <div class="ui horizontal inverted divider">
        <i class="icon gamepad"></i>
    </div>

    {# TODO: Remove this shit from here and write pretty command to detect popular items once a week #}
    {# Самые покупаемые игры #}
    <div class="ui black label">
        Самые покупаемые игры
    </div>
    <div class="ui four items moneo-list">
        {% for shop_item in popular_items|slice:"8" %}
            {% include 'partials/list_item.html' %}
        {% endfor %}
    </div>
    {# END #}
{% endblock %}