{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ block.super }} - FAQ{% endblock %}

{% block content %}
    <div class="ui huge black label">Результаты поиска</div>
    <div class="ui stacked segment">
        <h3>Всего найдено: {{ results.count }}</h3>
        <div class="ui list">
            {% for result in results %}
                <div class="item">
                    <img class="ui avatar image" src="/media/cache/23/a2/23a2211f49166d85ad62020b5124468f.jpg" alt=""/>
                    <div class="content">
                        <span class="ui orange label" style="text-shadow:1px 1px 1px #000 !important;">
                            {{ result.price }} Руб
                        </span>
                        <a href="{% url 'details' pk=result.pk %}">{{ result.title }}</a>
                    </div>
                </div>
            {% empty %}
                <div class="item">
                    Попробуйте уточнить условия поиска
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}