<div id="secondary-menu" class="ui small inverted black menu" style="margin-top: 0px;">
    <div class="item">По жанрам:</div>
    {% for genre in genres %}
        <a class="item" href="{% url 'genre' genre=genre.slug %}">{{ genre.title }}</a>
    {% endfor %}
</div>