<div id="main-menu" class="ui small menu tablet-small inverted">
    <a class="right item {% if active_page == 'cart' %} active{% endif %}" href="{% url 'cart' %}">
        Корзина
        <span class="ui label tiny cart-size">{{ size }}</span>
    </a>
    <a class="item {% if active_page == 'index' %} active{% endif %}" href="{% url 'home' %}">Главная</a>

    {% for menu_item in menu_items %}
        {% if menu_item.has_subcategories %}
            <div class="section ui dropdown link item{% if active_page == menu_item.slug %} active{% endif %}">
                {{ menu_item.title }}
                {% if menu_item.has_subcategories %}
                    <i class="dropdown icon"></i>
                    <div class="ui menu transition">
                        {% for menu_subitem in menu_item.shopcategory_set.all %}
                            {% if menu_subitem.is_available %}
                                <a class="item" href="{% url 'category' category=menu_item.slug subcategory=menu_subitem.slug %}">{{ menu_subitem.title }}</a>
                            {% endif %}

                        {% endfor %}
                        {% if menu_item.slug == 'wow' %}
                            <a class="item" href="{% url 'gold-trade' %}">Золото</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="menu">
                        {% for menu_subitem in menu_item.gameshopitem_set.all %}
                            {% if menu_subitem.is_available %}
                                <a class="item" href="{% url 'details' pk=menu_subitem.pk %}">{{ menu_subitem.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <a class="item{% if active_page == menu_item.slug %} active{% endif %}" href="{% url 'category' category=menu_item.slug %}">
                {{ menu_item.title }}
            </a>
        {% endif %}

    {% endfor %}

    <a class="item {% if active_page == 'faq' %} active{% endif %}" href="{% url 'faq' %}">FAQ</a>
    <a class="item {% if active_page == 'feedback' %} active{% endif %}" href="{% url 'feedback' %}">Отзывы</a>

</div>