*:not(.icon) {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: .95rem;*/
}

.ui.red.label, .ui.red.ribbon.label, .ui.red.label:before, .ui.red.ribbon.label:before, .ui.red.button, .ui.primary.button {
    background-color: #9E0000;
    border-color: #9E0000;
}

.ui.red.ribbon.label, .ui.red.ribbon.label:before {
    background-color: #9E0000 !important;
    border-color: #9E0000 !important;
}

h1, h2, h3, h4, h5, h6, .ui.label, .ui.button, .ui.menu *:not(.icon) {
    font-family: 'Play', Arial, Helvetica, sans-serif;
}

.ui.label {
    /*font-weight: bold;*/
}

.ui.segment {
    background-image: url("../img/background/shattered.png");
    background-position: 50% 50%;
    background-repeat: repeat;
}

.page {
    color: #eeeeee;
}

html, body {
    background-color: #222222;
    background-image: url("../img/background/cartographer.png");
    background-position: 50% 50%;
    background-repeat: repeat;
}

.captcha img {
    float: left;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-sizing: border-box;
}

.captcha #id_captcha_1 {
    width: 77%;
    float: right;
}

.ui.menu * {
    z-index: 1000;
}

.menu:not(.pagination) .item {
    text-shadow: 1px 1px 1px #000000 !important;
    filter: dropshadow(color= #000000, offx=1, offy=1);
    /*z-index: 100;*/
}

.ui.inverted.menu.pagination .item:last-child:before {
    background-image: none !important;
}

.ui.dropdown .menu .item {
    text-shadow: none !important;
    filter: none !important;
}

.menu > .item.active:first-child {
    border-radius: .1875em 0 0 .1875em;
}

.error {
    display: none;
}

.accordion .content *:not(.icon) {
    color: #555555 !important;
    text-shadow: 1px 1px 1px #aaaaaa !important;
    filter: dropshadow(color= #aaaaaa, offx=1, offy=1);
}

.accordion .content h4 {
    color: #333333;
}

button.ui.button.submit.disabled {
    cursor: no-drop;
    background-color: #666 !important;
    color: #999 !important;
}

.details .ui.items.moneo-list {
    margin-left: 0;
    margin-right: 0;
}

.menu > .item.active:last-child {
    border-radius: 0 .1875em .1875em 0;
}

.ui.items > .item {
    /*min-height: 405px;*/
    min-height: 0;
}

.ui.items > .item *:not(.icon), .ui.button:not(.yellow), a.ui.button:not(.yellow), a.ui.button:not(.yellow):hover, .segment .ui.ribbon.label {
    -webkit-text-shadow: 1px 1px 1px #000000 !important;
    -moz-text-shadow: 1px 1px 1px #000000 !important;
    text-shadow: 1px 1px 1px #000000 !important;
    filter: dropshadow(color= #000000, offx=1, offy=1);
}

.ui.items > .item .ui.ribbon.label {
    margin-top: 0;
    margin-bottom: 8px;
    left: -1.12rem;
    padding-left: 1.2rem;
}

.ui.items > .item .ui.ribbon.label:after {
    border-right-width: .8em;
    border-bottom-width: .8em;
}

.ui.items .item > .content {
    /*margin-bottom: 1.8em;*/
}

.ui.items .item > .content .name {
    text-align: center;
}

.segment *:not(.icon):not(.button) {
    color: #555;
    text-shadow: 1px 1px 1px #ffffff !important;
    filter: dropshadow(color= #ffffff, offx=1, offy=1);
}

.segment a:not(.button):link, .segment a:not(.button):hover, .segment a:not(.button):visited {
    color: #80242a !important;
}

.segment a:hover {
    text-shadow: 1px 1px 0px #aaaaaa !important;
    filter: dropshadow(color= #aaaaaa, offx=1, offy=1);
}

.segment .label {
    text-shadow: 1px 1px 1px #000000 !important;
    filter: dropshadow(color= #000000, offx=1, offy=1);
}

.details .segment .ui.ribbon.label {
    left: -2rem;
}

.ui.carousel .cycle-overlay {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 600;
    background: rgba(0,0,0,.7);
    color: white;
    padding: 15px 15px 35px;
    /*opacity: .7;*/
    text-shadow: 1px 1px 1px #000000 !important;
    filter: dropshadow(color= #000000, offx=1, offy=1);
}

.ui.carousel .slide {
    width: 100% !important;
    height: 350px !important;
    background-repeat: no-repeat;
    background-position: top center;
}

.ui.carousel .slide .ui.image {
    height: 350px;
    width: 100%;
}

/* pager */
.ui.carousel .cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    box-sizing: border-box;
}
.ui.carousel .cycle-pager span {
    display: inline-block;
    color: #ddd;
    cursor: pointer;
    font-size: 24px;
    margin: 0 3px;
}
.ui.carousel .cycle-pager span.cycle-pager-active { color: #D69746;}
.ui.carousel .cycle-pager > * { cursor: pointer; }

.ui.carousel {
    position: relative;
    overflow: hidden;
}
.ui.carousel .arrow {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 1%;
    margin-top: -0.5em;
    z-index: 700;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000 !important;
    filter: dropshadow(color= #000000, offx=1, offy=1);
}
.ui.carousel .right.arrow {
    left: auto;
    right: 1%;
}


.header {
    margin-top: 20px !important;
}

.header .left {
    float: left;
}

.header .right {
    float: right;
}

.footer {
    margin-top: 0 !important;
    padding-top: 0 !important;
    /*position: relative;*/
    /*bottom: 0;*/
}

.footer .column {
    margin-top: -10px;
    font-size: 11px !important;
    /*padding: 10px 20px 20px;*/
}

.footer span {
}

.footer .left {
    float: left;
}

.footer .right {
    float: right;
}



/*-------------------
       Social
--------------------*/

/* Facebook */

.ui.facebook.button {
  background-color: #3B579D;
  color: #FFFFFF;
}

.ui.facebook.button:hover {
  background-color: #3A59A9;
  color: #FFFFFF;
}

.ui.facebook.button:active {
  background-color: #334F95;
  color: #FFFFFF;
}

/* Twitter */

.ui.twitter.button {
  background-color: #4092CC;
  color: #FFFFFF;
}

.ui.twitter.button:hover {
  background-color: #399ADE;
  color: #FFFFFF;
}

.ui.twitter.button:active {
  background-color: #3283BC;
  color: #FFFFFF;
}

/* Google Plus */

.ui.google.plus.button {
  background-color: #D34836;
  color: #FFFFFF;
}

.ui.google.plus.button:hover {
  background-color: #E3432E;
  color: #FFFFFF;
}

.ui.google.plus.button:active {
  background-color: #CA3A27;
  color: #FFFFFF;
}

/* Linked In */

.ui.linkedin.button {
  background-color: #1F88BE;
  color: #FFFFFF;
}

.ui.linkedin.button:hover {
  background-color: #1394D6;
  color: #FFFFFF;
}

.ui.linkedin.button:active {
  background-color: #1179AE;
  color: #FFFFFF;
}

/* YouTube */

.ui.youtube.button {
  background-color: #CC181E;
  color: #FFFFFF;
}

.ui.youtube.button:hover {
  background-color: #DF0209;
  color: #FFFFFF;
}

.ui.youtube.button:active {
  background-color: #A50006;
  color: #FFFFFF;
}

/* Instagram */

.ui.instagram.button {
  background-color: #49769C;
  color: #FFFFFF;
}

.ui.instagram.button:hover {
  background-color: #4781B1;
  color: #FFFFFF;
}

.ui.instagram.button:active {
  background-color: #38658A;
  color: #FFFFFF;

}/* Instagram */

.ui.vk.button {
  background-color: #2F5879;
  color: #FFFFFF;
}

.ui.vk.button:hover {
  background-color: #496B93;
  color: #FFFFFF;
}

.ui.vk.button:active {
  background-color: #4E729A;
  color: #FFFFFF;
}

/* Pinterest */

.ui.pinterest.button {
  background-color: #00ACED;
  color: #FFFFFF;
}

.ui.pinterest.button:hover {
  background-color: #00B9FF;
  color: #FFFFFF;
}

.ui.pinterest.button:active {
  background-color: #009EDA;
  color: #FFFFFF;
}

/* ------------------- */

#main-menu {
    margin-bottom: 0px;
    border-bottom: 4px solid #EE5757;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#secondary-menu {
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#secondary-menu .item {
    z-index: 999;
}

.cart-size {
    margin: -1.15em 0 -1.15em .5em !important;
}

.yellow {
    background-color: #e3be00 !important;
    color: #111111 !important;
    /*text-shadow: 1px 1px 1px #ddd !important;*/
    /*font-weight: bold;*/
}

/* ------------------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .tablet-small.menu .item {
        font-size: .9rem !important;
    }
}